{% extends "layouts/layout.twig" %}

{% block content %}
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/"><i class="fa fa-home"></i> Főoldal</a>
                        <span>Kategóriák</span>
                        {% if selected_genre %}
                            <span>{{ selected_genre.name }}</span>
                        {% else %}
                            <span>Összes anime</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="product-page spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="product__page__content">
                        <div class="product__page__title">
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-6">
                                    <div class="section-title">
                                        <h4>{{ selected_genre ? selected_genre.name : 'Összes anime' }}</h4>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="product__page__filter">
                                        <form method="get" action="{{ base_category_url }}">
                                            <p>Rendezés:</p>
                                            <select name="sort" onchange="this.form.submit()">
                                                {% for value, label in sort_options %}
                                                    <option value="{{ value }}"{% if sort == value %} selected{% endif %}>{{ label }}</option>
                                                {% endfor %}
                                            </select>
                                            <noscript><button type="submit">OK</button></noscript>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% if animes %}
                                {% for anime in animes %}
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="product__item">
                                            <div class="product__item__pic set-bg" data-setbg="{{ anime.poster_image ?: '/img/anime/details-pic.jpg' }}">
                                                <div class="ep">{{ anime.episode_current ?: '?' }} / {{ anime.episode_total ?: '?' }}</div>
                                                <div class="comment"><i class="fa fa-comments"></i> {{ anime.comments_count }}</div>
                                                <div class="view"><i class="fa fa-eye"></i> {{ anime.views_count|number_format(0, ',', ' ') }}</div>
                                            </div>
                                            <div class="product__item__text">
                                                <ul>
                                                    <li>{{ anime.status }}</li>
                                                    <li>{{ anime.type }}</li>
                                                </ul>
                                                <h5><a href="/anime/{{ anime.slug }}/">{{ anime.title }}</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="col-12">
                                    <div class="alert alert-dark">
                                        Ebben a kategóriában még nincs anime.
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% if pagination.total_pages > 1 %}
                        <div class="product__pagination">
                            {% if pagination.has_prev %}
                                <a href="{{ base_category_url }}?sort={{ sort }}&page={{ pagination.page - 1 }}"><i class="fa fa-angle-left"></i></a>
                            {% endif %}
                            {% for page_number in pagination.pages %}
                                <a href="{{ base_category_url }}?sort={{ sort }}&page={{ page_number }}"{% if page_number == pagination.page %} class="current-page"{% endif %}>{{ page_number }}</a>
                            {% endfor %}
                            {% if pagination.has_next %}
                                <a href="{{ base_category_url }}?sort={{ sort }}&page={{ pagination.page + 1 }}"><i class="fa fa-angle-right"></i></a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="product__page__sidebar">
                        <div class="product__sidebar__view">
                            <div class="section-title">
                                <h5>Top nézettség</h5>
                            </div>
                            {% for anime in popular_animes %}
                                <div class="product__sidebar__view__item set-bg" data-setbg="{{ anime.poster_image ?: '/img/anime/details-pic.jpg' }}">
                                    <div class="ep">{{ anime.episode_current ?: '?' }} / {{ anime.episode_total ?: '?' }}</div>
                                    <div class="view"><i class="fa fa-eye"></i> {{ anime.views_count|number_format(0, ',', ' ') }}</div>
                                    <h5><a href="/anime/{{ anime.slug }}/">{{ anime.title }}</a></h5>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="product__sidebar__comment">
                            <div class="section-title">
                                <h5>Műfajok</h5>
                            </div>
                            {% for genre in genres %}
                                <div class="product__sidebar__comment__item">
                                    <div class="product__sidebar__comment__item__text">
                                        <ul>
                                            <li>{{ genre.anime_count }} anime</li>
                                        </ul>
                                        <h5><a href="/categories/{{ genre.slug }}/">{{ genre.name }}</a></h5>
                                        <span>Böngészés kategória szerint</span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
