{% extends "layouts/layout.twig" %}

{% block content %}
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/"><i class="fa fa-home"></i> Főoldal</a>
                        <a href="/categories/">Kategóriák</a>
                        {% if genres|length > 0 %}
                            <a href="/categories/{{ genres[0].slug }}/">{{ genres[0].name }}</a>
                        {% endif %}
                        <span>{{ anime.title }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="anime-details spad">
        <div class="container">
            <div class="anime__details__content">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="anime__details__pic set-bg" data-setbg="{{ anime.poster_image ?: '/img/anime/details-pic.jpg' }}">
                            <div class="comment"><i class="fa fa-comments"></i> {{ anime.comments_count }}</div>
                            <div class="view"><i class="fa fa-eye"></i> {{ anime.views_count|number_format(0, ',', ' ') }}</div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="anime__details__text">
                            <div class="anime__details__title">
                                <h3>{{ anime.title }}</h3>
                                {% if anime.original_title %}
                                    <span>{{ anime.original_title }}</span>
                                {% endif %}
                            </div>
                            <div class="anime__details__rating">
                                <div class="rating">
                                    {% for star in stars %}
                                        <a href="#">
                                            {% if star == 'full' %}
                                                <i class="fa fa-star"></i>
                                            {% elseif star == 'half' %}
                                                <i class="fa fa-star-half-o"></i>
                                            {% else %}
                                                <i class="fa fa-star-o"></i>
                                            {% endif %}
                                        </a>
                                    {% endfor %}
                                </div>
                                <span>{{ anime.rating_count|number_format(0, ',', ' ') }} szavazat</span>
                            </div>
                            <p>{{ anime.synopsis ?: 'Ehhez az animéhez még nem adtál meg leírást.' }}</p>
                            <div class="anime__details__widget">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            <li><span>Típus:</span> {{ anime.type }}</li>
                                            <li><span>Stúdió:</span> {{ anime.studio ?: 'Nincs megadva' }}</li>
                                            <li><span>Vetítés:</span> {{ anime.aired_from ?: '?' }}{% if anime.aired_to %} - {{ anime.aired_to }}{% else %} - ?{% endif %}</li>
                                            <li><span>Státusz:</span> {{ anime.status }}</li>
                                            <li><span>Műfajok:</span>
                                                {% if genres %}
                                                    {% for genre in genres %}
                                                        <a href="/categories/{{ genre.slug }}/">{{ genre.name }}</a>{% if not loop.last %}, {% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                    Nincs megadva
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            <li><span>Score:</span> {{ anime.score ?: '0.00' }} / {{ anime.score_count|number_format(0, ',', ' ') }}</li>
                                            <li><span>Rating:</span> {{ anime.rating_avg ?: '0.0' }} / {{ anime.rating_count|number_format(0, ',', ' ') }} alkalom</li>
                                            <li><span>Időtartam:</span> {{ anime.duration ?: 'Nincs megadva' }}</li>
                                            <li><span>Minőség:</span> {{ anime.quality ?: 'Nincs megadva' }}</li>
                                            <li><span>Megtekintések:</span> {{ anime.views_count|number_format(0, ',', ' ') }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="anime__details__btn">
                                <a href="#" class="follow-btn"><i class="fa fa-heart-o"></i>Kedvencek</a>
                                <a href="#" class="watch-btn"><span>Részletek</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="anime__details__review">
                            <div class="section-title">
                                <h5>Kommentek</h5>
                            </div>
                            <div class="anime__review__item">
                                <div class="anime__review__item__pic">
                                    <img src="/img/anime/review-1.jpg" alt="avatar">
                                </div>
                                <div class="anime__review__item__text">
                                    <h6>Valami <span>valami</span></h6>
                                    <p>Egyenlőre ez még nincs kész.</p>
                                </div>
                            </div>
                        </div>
                        <div class="anime__details__form">
                            <div class="section-title">
                                <h5>Új komment</h5>
                            </div>
                            <form action="#">
                                <textarea placeholder="Ez sincs kész egyelőre xd" disabled></textarea>
                                <button type="button" disabled><i class="fa fa-location-arrow"></i> Hamarosan</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="anime__details__sidebar">
                            <div class="section-title">
                                <h5>Ajánlott animék</h5>
                            </div>
                            {% for recommendation in recommendations %}
                                <div class="product__sidebar__view__item set-bg" data-setbg="{{ recommendation.poster_image ?: '/img/anime/details-pic.jpg' }}">
                                    <div class="ep">{{ recommendation.episode_current ?: '?' }} / {{ recommendation.episode_total ?: '?' }}</div>
                                    <div class="view"><i class="fa fa-eye"></i> {{ recommendation.views_count|number_format(0, ',', ' ') }}</div>
                                    <h5><a href="/anime/{{ recommendation.slug }}/">{{ recommendation.title }}</a></h5>
                                </div>
                            {% else %}
                                <p class="text-white">Még nincs ajánlott anime ehhez az adatlaphoz.</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
